<h3>All posts</h3>

<ul>
<% @posts.each do |post| %>
  <li><%= link_to post.title, "/posts/#{post.id}" %></li>
<% end %>
</ul>
	


  <h4><%= link_to "Click here to see the Users of this site", "/users/" %><h4>

