<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav pull-right">
    <li>
    <%= link_to 'Create a post', '/posts/new' %>
    </li>
    <li>
    <%= link_to 'Active Users', '/users/'  %>
    </li>
</ul>
